button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 20px;
  margin: 2%;
}
button:hover {
  border: 0.5px solid white;
  color: #e44c65;
  text-decoration: none;
  background-color: #e44c65;
  opacity: 0.7;
}
.button-link {
  -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #e44c65;
  text-decoration: none;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Bangers', cursive; */
  letter-spacing: 1px;
  margin-bottom: 15px;
}
strong {
  font-weight: bold;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 665px) {
  nav {
    background-color: #040404;
  }
}
nav .mobile-icon {
  padding: 2%;
  background-color: #e44c65;
  display: none;
  cursor: pointer;
}
@media (max-width: 665px) {
  nav .mobile-icon {
    display: block;
  }
}
nav .mobile-icon .mobile-menu-icon {
  display: none;
  width: 40px;
}
@media (max-width: 665px) {
  nav .mobile-icon .mobile-menu-icon {
    display: block;
  }
}
nav a {
  font-family: "Roboto", Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px;
}
@media (max-width: 665px) {
  nav a {
    margin-bottom: 8%;
  }
}
nav a:hover {
  color: #e44c65;
}
nav .sign-in-btn {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: #e44c65;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 4px;
}
nav .sign-in-btn:hover {
  background-color: #e47587;
  cursor: pointer;
}
@media (max-width: 665px) {
  .hide-mobile {
    display: none;
  }
}
.drop-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.drop-menu {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0.95;
}
@media (max-width: 665px) {
  .drop-menu {
    display: none;
  }
}
.drop-nav a {
  padding: 20px;
  margin-bottom: 0;
  font-size: 20px;
  text-decoration: none;
  background-color: #040404;
  color: white;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
}
.drop-nav a:hover {
  color: #040404;
  background-color: #e47587;
}
.div1 {
  height: 100vh;
  background: black;
  background-image: url("../img/heatmap1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  transition: background-image 0.75s ease-in-out;
  position: relative;
  z-index: 12;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
.div1 .div1-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
}
.div1 .div1-wrapper h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 60px;
  padding: 10px 10px 0 10px;
  text-align: center;
}
@media (max-width: 745px) {
  .div1 .div1-wrapper h1 {
    font-size: 46px;
  }
}
.div1 .div1-wrapper p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 28px;
  padding: 20px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 3%;
  color: #e44c65;
}
@media (max-width: 745px) {
  .div1 .div1-wrapper p {
    font-size: 18px;
    padding: 1% 2%;
  }
}
.div2 {
  height: auto;
  background: #111111;
  background-image: url("../img/guns.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  z-index: 11;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
@media (max-width: 665px) {
  .div2 {
    padding-top: 40%;
  }
}
.div2 .info-bar {
  height: auto;
  background-color: black;
  width: 100%;
  opacity: 0.95;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 3% 0 0 0;
  border-top: 7px solid #e44c65;
}
.div2 .info-bar .info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.div2 .info-bar .info-content .info-bar-left {
  width: 34%;
  padding: 2% 4%;
}
@media (max-width: 1160px) {
  .div2 .info-bar .info-content .info-bar-left {
    width: 100%;
    padding: 4% 8% 0 8%;
  }
}
.div2 .info-bar .info-content .info-bar-left h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 34px;
  color: white;
  padding: 1%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div2 .info-bar .info-content .info-bar-left h2 {
    font-size: 28px;
  }
}
.div2 .info-bar .info-content .info-bar-right {
  width: 42%;
}
@media (max-width: 1160px) {
  .div2 .info-bar .info-content .info-bar-right {
    width: 100%;
    padding: 0 8% 4% 8%;
  }
}
.div2 .info-bar .info-content .info-bar-right p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 1%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div2 .info-bar .info-content .info-bar-right p {
    font-size: 18px;
  }
}
@media (max-width: 980px) {
  .div2 .info-bar .info-content .info-bar-right p {
    font-size: 18px;
  }
}
.div3 {
  height: 100vh;
  background: #111111;
  background-image: url("../img/circle-heat-map-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
@media (max-width: 1056px) {
  .div3 {
    flex-direction: column;
    height: auto;
    background-image: none;
  }
}
.div3 .iframe {
  height: 100%;
  width: 70%;
}
.div3 .iframe img {
  width: 100%;
  margin-top: 1%;
  display: none;
}
@media (max-width: 1056px) {
  .div3 .iframe img {
    display: block;
  }
}
@media (max-width: 1056px) {
  .div3 .iframe {
    width: 100%;
    height: auto;
  }
}
.div3 .vertical-info-bar {
  height: 100%;
  width: 30%;
  background-color: black;
  border-left: 7px solid #5480f1;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media (max-width: 1056px) {
  .div3 .vertical-info-bar {
    width: 100%;
    border-top: 7px solid #5480f1;
    border-left: none;
    padding: 4% 8% 4% 8%;
  }
}
.div3 .vertical-info-bar h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 34px;
  color: white;
  padding: 2% 2% 8% 2%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div3 .vertical-info-bar h2 {
    font-size: 28px;
    padding: 2%;
  }
}
.div3 .vertical-info-bar p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 2%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div3 .vertical-info-bar p {
    font-size: 18px;
  }
}
.div4 {
  height: 100vh;
  background: #111111;
  background-image: url("../img/red-graph.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1056px) {
  .div4 {
    flex-direction: column-reverse;
    height: auto;
    background-image: none;
  }
}
.div4 .iframe {
  width: 70%;
}
@media (max-width: 1056px) {
  .div4 .iframe {
    width: 100%;
  }
}
.div4 .iframe img {
  width: 100%;
  margin-top: 1%;
  display: none;
}
@media (max-width: 1056px) {
  .div4 .iframe img {
    display: block;
  }
}
.div4 .vertical-info-bar {
  height: 100%;
  width: 30%;
  background-color: black;
  border-right: 7px solid #39c088;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media (max-width: 1056px) {
  .div4 .vertical-info-bar {
    width: 100%;
    border-right: none;
    border-top: 7px solid #39c088;
    padding: 4% 8% 4% 8%;
  }
}
.div4 .vertical-info-bar h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 34px;
  color: white;
  padding: 2% 2% 8% 2%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div4 .vertical-info-bar h2 {
    font-size: 28px;
    padding: 2%;
  }
}
.div4 p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 2%;
  line-height: 1.25;
}
@media (max-width: 1160px) {
  .div4 p {
    font-size: 18px;
  }
}
.div5 {
  height: auto;
  background: #040404;
  padding-top: 4%;
  position: relative;
  text-align: center;
  border-top: 7px solid #272833;
}
@media (max-width: 665px) {
  .div5 .div5-content {
    padding: 2% 3%;
  }
}
.div5 .div5-content h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 34px;
  color: white;
  padding: 1%;
}
@media (max-width: 1160px) {
  .div5 .div5-content h2 {
    font-size: 28px;
  }
}
.div5 .div5-content p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 1% 0 2% 0;
}
@media (max-width: 1160px) {
  .div5 .div5-content p {
    font-size: 18px;
  }
}
.down-arrow {
  width: 100px;
  text-align: center;
}
.down-arrow2 {
  width: 100px;
  text-align: center;
}
.arrow-wrapper {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.arrow2-wrapper {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.unhide {
  display: block;
}
.red-font {
  color: #e44c65;
  font-weight: bold;
  font-size: 40px;
}
.about-us {
  background-color: #040404;
  height: 100%;
}
.meet-our-team {
  background: #040404;
  padding-top: 4%;
  text-align: center;
}
@media (max-width: 1160px) {
  .meet-our-team {
    font-size: 32px;
  }
}
@media (max-width: 665px) {
  .meet-our-team {
    margin-top: 6%;
  }
}
.meet-our-team .meet-our-team-content h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  padding: 1%;
}
@media (max-width: 1160px) {
  .meet-our-team .meet-our-team-content h2 {
    font-size: 32px;
  }
}
.meet-our-team .meet-our-team-content p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 2%;
}
@media (max-width: 1160px) {
  .meet-our-team .meet-our-team-content p {
    font-size: 18px;
  }
}
@media (max-width: 665px) {
  .meet-our-team .meet-our-team-content p {
    margin-top: 6%;
  }
}
.meet-our-team .meet-our-team-content:after {
  background: #e44c65;
  content: '';
  display: inline-block;
  height: 0.2em;
  max-width: 20em;
  width: 75%;
}
.meet-team-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2% 0;
}
.meet-team-pictures .person {
  width: 32%;
  padding: 1%;
  margin: 40px 0;
}
@media (max-width: 1024px) {
  .meet-team-pictures .person {
    width: 48%;
    padding: 1%;
    margin: 40px 0;
  }
}
@media (max-width: 665px) {
  .meet-team-pictures .person {
    width: 98%;
    padding: 1%;
    margin: 40px 0;
  }
}
.meet-team-pictures .person img {
  width: 225px;
  border-radius: 50%;
}
.meet-team-pictures .person h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  padding: 1%;
}
@media (max-width: 1160px) {
  .meet-team-pictures .person h2 {
    font-size: 28px;
  }
}
.meet-team-pictures .person p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #e44c65;
  font-size: 18px;
  padding: 2% 0 4% 0;
}
@media (max-width: 1160px) {
  .meet-team-pictures .person p {
    font-size: 18px;
  }
}
.meet-team-pictures .person .icon-wrapper {
  font-size: 2em;
  color: white;
  padding: 0 10px;
}
.modals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
  height: auto;
}
@media (max-width: 665px) {
  .modals {
    flex-direction: column;
    align-items: center;
  }
}
.modals .card {
  height: auto;
  width: 30%;
  margin: 1%;
  cursor: pointer;
  position: relative;
}
@media (max-width: 665px) {
  .modals .card {
    width: 90%;
  }
}
.modals .card img {
  border-bottom: 4px solid #39c088;
  width: 100%;
}
.modals .card p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding: 3%;
}
.modals .card #overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modals .card #overlay p {
  font-size: 40px;
  color: white;
  vertical-align: center;
}
.modals .card #overlay:hover {
  opacity: 0.5;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  width: 80% !important;
  height: 90%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: #111111;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.modal-content img {
  width: 100%;
  height: 90%;
}
.modal-content h2 {
  color: white;
}
.modal-content p {
  color: white;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
footer {
  background-color: #272833;
}
footer h2 {
  font-size: 14px;
  padding: 2%;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
