* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}

h1, h2, h3, h4, h5 {
		font-family: 'Oswald', sans-serif;
    /* font-family: 'Bangers', cursive; */
    letter-spacing: 1px;
    margin-bottom: 15px;
}

strong {
	font-weight: bold;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
	// background-color: #f6f6f6;
     
    //  .container-body {
    //     width: 100%;
    //     max-width: 1000px;
    //     margin: 0 auto;
    //     background-color: #f6f6f6;
    //     padding: 0 1%;

    //     @media(max-width: 740px) {
    //         max-width: 700px;
    //         }
    //     }
    }

.about-container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}