nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    a {
        font-family: "Roboto", Helvetica, sans-serif;
        text-decoration: none;
        color: white;
        font-size: 24px;
        padding: 1.5% 2%;
    }

    a:hover {
        color: #e44c65;
    }

    .sign-in-btn {
        font-family: "Roboto", Helvetica, sans-serif;
        background-color: #e44c65;
        color: white;
        font-size: 24px;
        padding: 10px 20px;
        margin: 0 20px;
        border-radius: 4px;


    
        &:hover {
            background-color: #e95d74;
            cursor: pointer;
        }
    }
}
