.div1 {
    height: 100vh;
    background: black;
    background-image: url("../img/heatmap1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    transition: background-image 0.75s ease-in-out;

    // &:hover {
    //     background-image: url("../img/Heatmap-sat50.jpg");
    // }

    position: relative;
    z-index: 12;

    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);

    .div1-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80%;
        
        h1 {
            font-family: "Roboto", Helvetica, sans-serif;
            color: white;
            font-size: 60px;
            padding: 1%;
            text-align: center;

            @media (max-width: 745px) {
                font-size: 46px; 
            }
        }

        p {
            font-family: "Roboto", Helvetica, sans-serif;
            color: white; 
            font-size: 28px;
            padding: 1%;
            line-height: 1.25;
            text-align: center;
            margin-bottom: 3%;
            color: #e44c65;

            @media (max-width: 745px) {
                font-size: 18px; 
                padding: 1% 2%;
            }
        }
    }
}

.div2 {
    height: 100vh;
    background: #111111;
    background-image: url("../img/guns.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    position: relative;
    z-index: 11;

    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);

    .info-bar {
        height: auto;
        background-color:black;
        width: 100%;
        opacity: 0.95;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        padding: 3% 0 0 0;
        border-top: 7px solid #e44c65;

        .info-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        
            .info-bar-left {
                width: 34%;
                padding:  2% 4%;

                @media (max-width: 1160px) {
                    width: 100%;
                    padding: 4% 8% 0 8%;
                }
                
                h2 {
                    font-family: "Roboto", Helvetica, sans-serif;
                    font-size: 34px;
                    color: white;
                    padding: 1%;

                    @media (max-width: 1160px) {
                        font-size: 28px;
                    }
                }
            }

            .info-bar-right {
                width: 42%;

                @media (max-width: 1160px) {
                    width: 100%;
                    padding: 0 8% 4% 8%;
                }

                p {
                    font-family: "Roboto", Helvetica, sans-serif;
                    color: white; 
                    font-size: 20px;
                    padding: 1%;

                    @media (max-width: 1160px) {
                        font-size: 18px;
                    }

                    @media (max-width: 980px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.div3 {
    height: 100vh;
    background: #111111;
    // background-image: url("../img/heatmap-overlay.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.35);

    @media (max-width: 1056px) {
        flex-direction: column; 
        height: auto;
        // border-top: 3px solid white;

    }

    .iframe {
        height: 100%;
        width: 70%;
        // display: flex;
        img {
            // height: 100%;
            width: 100%;
            margin-top: 12.5%;
            // object-fit: cover;
        }

        @media (max-width: 1056px) {
            width: 100%;
            height: auto;
        }
    }
    .vertical-info-bar {
        height: 100%;
        width: 30%;
        background-color:black;
        border-left: 7px solid #5480f1;
        opacity: 0.9;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;

        @media (max-width: 1056px) {
            width: 100%;
            border-top: 7px solid #5480f1;
            border-left: none;
            padding: 4% 8% 4% 8%;
        }

        h2 {
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 34px;
            color: white;
            padding: 2% 2% 8% 2%;
            line-height: 1.25;

            @media (max-width: 1160px) {
                font-size: 28px;
                padding: 2%;
            }

            }
        

        p {
            font-family: "Roboto", Helvetica, sans-serif;
            color: white; 
            font-size: 20px;
            padding: 2%;
            line-height: 1.25;

            @media (max-width: 1160px) {
                font-size: 18px;
            }
        }
    }
}

.div4 {
    height: 100vh;
    background: #111111;
    // background-image: url("../img/US-Census-Tract-Latino-Heat-Map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-start;


    @media (max-width: 1056px) {
        flex-direction: column-reverse; 
        height: auto;  
    }

    .iframe {
        // height: 100%;
        width: 70%;

        @media (max-width: 1056px) {
            width: 100%; 
        }

        img {
            // height: 100%;
            width: 100%;
            margin-top: 12.5%;
        }
    }

    .vertical-info-bar {
        height: 100%;
        width: 30%;
        background-color:black;
        border-right: 7px solid #39c088;
        opacity: 0.9;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;

        @media (max-width: 1056px) {
            width: 100%;
            border-right: none;
            border-top: 7px solid #39c088;
            padding: 4% 8% 4% 8%;
        }

        h2 {
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 34px;
            color: white;
            padding: 2% 2% 8% 2%;
            line-height: 1.25;

            @media (max-width: 1160px) {
                font-size: 28px;
                padding: 2%;

            }
            }
        }

        p {
            font-family: "Roboto", Helvetica, sans-serif;
            color: white; 
            font-size: 20px;
            padding: 2%;
            line-height: 1.25;
            
            @media (max-width: 1160px) {
                font-size: 18px;
            }
        }
}

.div5 {
    height: auto;
    background: #040404;
    padding-top: 4%;
    position: relative;
    text-align: center;
    border-top: 7px solid #272833;


    .div5-content {

        @media (max-width: 665px) {
            padding: 2% 3%;
        }

        h2 {
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 34px;
            color: white;
            padding: 1%;

            @media (max-width: 1160px) {
                font-size: 28px;
            }
        }

        p {
            font-family: "Roboto", Helvetica, sans-serif;
            color: white; 
            font-size: 20px;
            padding: 1% 0 2% 0;;

            @media (max-width: 1160px) {
                font-size: 18px;
            }
        }

        // &:after {
        //     background: #e44c65;
        //     content: '';
        //     display: inline-block;
        //     height: 0.2em;
        //     max-width: 20em;
        //     width: 75%;
        // }
    }
}

.down-arrow {
    width: 100px;
    // position: absolute;
    // bottom: 0;
    text-align: center;
}

.down-arrow2 {
    width: 100px;
    // position: absolute;
    // bottom: 0;
    text-align: center;
}

.arrow-wrapper {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.arrow2-wrapper {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

// .hideme {
//     opacity:0;
// }

.unhide {
	display: block;
}

