.modals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 4%;

    .card {
        height: 300px;
        width: 27%;
        margin: 1%;
        // background-color: red;

        p {
            font-family: "Roboto", Helvetica, sans-serif;
            font-size: 16px;
            color: white;
            padding: 3%;
        }
    }
}